<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.eshop.visitor.mapper.IndexMapper">
    <select id="getIndexHotItems" resultType="com.yc.eshop.common.entity.Item">
        select item.*
        from item,store where item.state=1 and store.state=1 and item.store_id=store.store_id order by sales desc limit 0,2
    </select>

    <select id="getItemByItemId" parameterType="integer" resultType="com.yc.eshop.common.vo.ItemStoreVO">
        select item.*, store.store_id, store.name, store.logo from item,store where item.store_id=store.store_id and item_id=#{itemId} and store.state=1
    </select>

    <select id="getStoreIdByItemId" parameterType="integer" resultType="integer">
        select store_id from item where item_id=#{itemId}
    </select>

    <select id="getTopTwoItemByStoreId" parameterType="integer" resultType="com.yc.eshop.common.entity.Item">
        select * from item where state=1 and store_id=#{storeId} order by sales desc limit 0,2
    </select>

    <select id="getIndexGoodItems" resultType="com.yc.eshop.common.entity.Item">
        select item_id, title, picture from item where state=1 order by RAND() limit 4
    </select>

    <select id="getRecommendItems" resultType="com.yc.eshop.common.entity.Item">
        select item.*
        from item,store where item.state=1 and store.state=1 and item.store_id=store.store_id order by sales desc limit 0,8;
    </select>

    <select id="getRankingStore" resultType="com.yc.eshop.common.entity.Store">
        select store.store_id, store.name, sum(sales) as total_sales from item,store
        where item.store_id=store.store_id and store.state=1 group by store.store_id order by total_sales desc limit 5
    </select>

    <select id="getSearchItems" parameterType="com.yc.eshop.common.dto.SearchItemParam" resultType="com.yc.eshop.common.vo.ItemStoreVO">
        select * from item,store where item.store_id=store.store_id and item.state=1 and store.state=1
        <if test="itemType != null">
            and item.type=#{itemType}
        </if>
        <if test="titleKeywords != null">
            and item.title like CONCAT('%',#{titleKeywords},'%')
        </if>
        <if test="minPrice != null">
            and item.price > #{minPrice}
        </if>
        <if test="maxPrice != null">
            and item.price &lt; #{maxPrice}
        </if>
    </select>

    <select id="getSearchStoreByName" parameterType="string" resultType="com.yc.eshop.common.vo.StoreThreeItemsVO">
        select * from store where name like CONCAT('%',#{name},'%') and state=1
    </select>

    <select id="getSearchStoreByType" parameterType="string" resultType="com.yc.eshop.common.vo.StoreThreeItemsVO">
        select store.store_id,name,logo from item,store where item.type=#{type} and store.state=1 and item.store_id=store.store_id group by store.store_id
    </select>

    <select id="getHotThreeItems" parameterType="integer" resultType="com.yc.eshop.common.entity.Item">
        select title,picture from item where store_id=#{storeId} and state=1 order by sales desc limit 0,3
    </select>

    <select id="getStoreByStoreId" parameterType="integer" resultType="com.yc.eshop.common.entity.Store">
        select * from store where store_id=#{storeId} and state=1
    </select>

    <select id="getStoreItemsByStoreId" parameterType="integer" resultType="com.yc.eshop.common.entity.Item">
        select item.* from item where state=1 and store_id=#{storeId} order by sales desc
    </select>













</mapper>