<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.eshop.user.mapper.OrderMapper">

    <select id="getItemByIid" parameterType="integer" resultType="com.yc.eshop.common.entity.Item">
        select * from item where item_id=#{itemId}
    </select>

    <insert id="insertOrder" parameterType="com.yc.eshop.common.entity.Order">
        insert into orders(order_id, order_name, totalPrice, create_time, amount, state, remark, coupon_own_id, user_id, address_id, item_id) VALUE
            (#{orderId},#{orderName},#{totalPrice},#{time},#{amount},#{state},#{remark},#{couponOwnId},#{userId},#{addressId},#{itemId})
    </insert>

    <select id="getDiscountByCouponOwnId" parameterType="integer" resultType="integer">
        select coupon_store.discount
        from coupon_user,coupon_store where coupon_user.coupon_id=coupon_store.coupon_id and coupon_user.coupon_own_id=#{couponOwnId};
    </select>

    <select id="getItemCartVOByCartId" parameterType="integer" resultType="com.yc.eshop.common.vo.ItemCartVO">
        select item.item_id,title,price,amount
        from cart,item where cart.item_id=item.item_id and cart.cart_id=#{cartId};
    </select>

    <insert id="insertManyOrders" parameterType="List">
        insert into orders(order_id, order_name, totalPrice, create_time, amount, state, remark, coupon_own_id, user_id, address_id, item_id) values
            <foreach collection="orders" item="order" separator="," close=";">
                (#{order.orderId},#{order.orderName},#{order.totalPrice},#{order.time},#{order.amount},#{order.state},#{order.remark},#{order.couponOwnId},#{order.userId},#{order.addressId},#{order.itemId})
            </foreach>
    </insert>

    <select id="getTotalPrice" parameterType="List" resultType="integer">
        select totalPrice from orders where order_id in
        <foreach collection="list" item="orderId" open="(" close=")" separator=",">
            #{orderId}
        </foreach>
    </select>

    <select id="getOrdersByOid" parameterType="List" resultType="com.yc.eshop.common.entity.Order">
        select * from orders where order_id in
        <foreach collection="list" item="orderId" open="(" close=")" separator=",">
            #{orderId}
        </foreach>
    </select>

    <update id="updateItemSalesAndInventory">
        update item set sales=sales+#{param2}, inventory=inventory-#{param2} where item_id=#{param1}
    </update>

    <update id="updateOrderPay">
        update orders set pay_time=NOW(), state=2, pay_way=#{param2} where order_id=#{param1}
    </update>

    <delete id="deleteCart" parameterType="List">
        delete from cart where cart_id in
            <foreach collection="list" item="cartId" open="(" close=")" separator=",">
                #{cartId}
            </foreach>
    </delete>

    <update id="updateCouponUserState" parameterType="List">
        update coupon_user set is_use=1 where coupon_own_id in
        <foreach collection="list" item="couponOwnId" open="(" close=")" separator=",">
            #{couponOwnId}
        </foreach>
    </update>











</mapper>