<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.eshop.user.mapper.UserMapper">
<!--    <resultMap id="baseColumn" type="com.yc.eshop.common.entity.User">-->
<!--        <id column="user_id" property="userId"/>-->
<!--        <result column="account" property="account"/>-->
<!--        <result column="password" property="password"/>-->
<!--        <result column="nickname" property="nickname"/>-->
<!--        <result column="sex" property="sex"/>-->
<!--        <result column="head_pic" property="headPic"/>-->
<!--        <result column="coin" property="coin"/>-->
<!--    </resultMap>-->

    <insert id="insertUser" parameterType="com.yc.eshop.common.entity.User">
        insert into user(account, password, salt, nickname, sex, head_pic, coin) VALUES
            (#{account},#{password},#{salt},#{nickname},#{sex},#{headPic},#{coin})
    </insert>

    <update id="updateUserInfo" parameterType="com.yc.eshop.common.entity.User">
        update user set nickname=#{nickname}, sex=#{sex} where user_id=#{userId}
    </update>

    <select id="getPassSalt" parameterType="integer" resultType="com.yc.eshop.common.entity.User">
        select password, salt from user where user_id=#{userId}
    </select>

    <update id="updatePass">
        update user set password=#{param2} where user_id=#{param1}
    </update>

    <update id="updateUserHeadPic">
        update user set head_pic=#{param2} where user_id=#{param1}
    </update>

    <select id="getCoinById" parameterType="integer" resultType="integer">
        select coin from user where user_id=#{userId}
    </select>

    <update id="updateCoinById">
        update user
        set coin = #{param2}
        where user_id = #{param1};
    </update>


























</mapper>