<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.eshop.user.mapper.UserMapper">
<!--    <resultMap id="baseColumn" type="com.yc.eshop.common.entity.User">-->
<!--        <id column="user_id" property="userId"/>-->
<!--        <result column="account" property="account"/>-->
<!--        <result column="password" property="password"/>-->
<!--        <result column="nickname" property="nickname"/>-->
<!--        <result column="sex" property="sex"/>-->
<!--        <result column="head_pic" property="headPic"/>-->
<!--        <result column="coin" property="coin"/>-->
<!--    </resultMap>-->

    <insert id="insertUser" parameterType="com.yc.eshop.common.entity.User">
        insert into user(account, password, salt, nickname, sex, head_pic, coin) VALUES
            (#{account},#{password},#{salt},#{nickname},#{sex},#{headPic},#{coin})
    </insert>

    <update id="updateUserInfo" parameterType="com.yc.eshop.common.entity.User">
        update user set nickname=#{nickname}, sex=#{sex} where user_id=#{userId}
    </update>

    <select id="getPassSalt" parameterType="integer" resultType="com.yc.eshop.common.entity.User">
        select password, salt from user where user_id=#{userId}
    </select>

    <update id="updatePass">
        update user set password=#{param2} where user_id=#{param1}
    </update>

    <update id="updateUserHeadPic">
        update user set head_pic=#{param2} where user_id=#{param1}
    </update>

    <select id="getCoinById" parameterType="integer" resultType="integer">
        select coin from user where user_id=#{userId}
    </select>

    <update id="updateCoinById">
        update user
        set coin = #{param2}
        where user_id = #{param1};
    </update>

    <select id="getCartData" parameterType="integer" resultType="com.yc.eshop.common.entity.Cart">
        select store.store_id,store.logo,store.name, item.item_id, item.title, item.price, item.picture, item.state, cart.cart_id, cart.amount
        from item,cart,store
        where item.item_id=cart.item_id and item.store_id=store.store_id and cart.user_id=#{userId}
    </select>
    
    <delete id="deleteCart">
        delete from cart where cart_id in 
            <foreach collection="list" item="cartId" open="(" close=")" separator=",">
                #{cartId}
            </foreach>
    </delete>

    <insert id="insertCart" parameterType="com.yc.eshop.common.entity.Cart">
        insert into cart(item_id, amount, user_id) VALUE (#{itemId}, #{amount}, #{userId})
    </insert>
    
    <update id="updateCartNum" parameterType="com.yc.eshop.common.entity.Cart">
        update cart
        set amount = #{amount}
        where cart_id = #{cartId};
    </update>

    <insert id="insertUserCoupon" parameterType="com.yc.eshop.common.entity.UserCoupon">
        insert into coupon_user(coupon_id, user_id) VALUE (#{couponId}, #{userId})
    </insert>

    <select id="selectByUidCid" parameterType="com.yc.eshop.common.entity.UserCoupon" resultType="com.yc.eshop.common.entity.UserCoupon">
        select * from coupon_user where user_id=#{userId} and coupon_id=#{couponId}
    </select>

    <select id="getConfirmOrderData" resultType="com.yc.eshop.common.vo.ConfirmOrderVO">
        select cart.cart_id,cart.amount,item.title,item.price,item.picture,store.store_id,store.logo,store.name
        from cart,store,item where cart.item_id=item.item_id and store.store_id=item.store_id and cart.cart_id in
            <foreach collection="list" open="(" close=")" separator="," item="cartId">
                #{cartId}
            </foreach>
    </select>

    <select id="getStoreIdByCartId" parameterType="integer" resultType="integer">
        select item.store_id from cart,item where cart.item_id=item.item_id and cart.cart_id=#{cartId}
    </select>

    <select id="getCanUseCoupon" resultType="com.yc.eshop.common.vo.CouponVO">
        select coupon_own_id,discount,satisfy,start_time,end_time,name from coupon_user,coupon_store,store
        where coupon_user.coupon_id=coupon_store.coupon_id and store.store_id=coupon_store.store_id
        and coupon_user.user_id = #{param1}
        and satisfy &lt; #{param2}
        and coupon_store.store_id=#{param3}
        and start_time &lt; NOW() and end_time > NOW() and coupon_store.state=1
    </select>

    <select id="getCanUseCouponByUid" parameterType="integer" resultType="com.yc.eshop.common.vo.CouponExVO">
        select coupon_own_id,discount,satisfy,start_time,end_time,name,store.store_id
        from coupon_user,coupon_store,store
        where coupon_user.coupon_id=coupon_store.coupon_id
        and coupon_store.store_id=store.store_id
        and coupon_user.user_id=#{userId}
        and start_time &lt; NOW() and end_time>NOW() and coupon_store.state=1
    </select>

    <select id="getNotStartCouponByUid" parameterType="integer" resultType="com.yc.eshop.common.vo.CouponExVO">
        select coupon_own_id,discount,satisfy,start_time,end_time,name,store.store_id
        from coupon_user,coupon_store,store
        where coupon_user.coupon_id=coupon_store.coupon_id
        and coupon_store.store_id=store.store_id
        and coupon_user.user_id=#{userId}
        and start_time > NOW() and coupon_store.state=1
    </select>

    <select id="getEndCouponByUid" parameterType="integer" resultType="com.yc.eshop.common.vo.CouponExVO">
        select coupon_own_id,discount,satisfy,start_time,end_time,name,store.store_id
        from coupon_user,coupon_store,store
        where coupon_user.coupon_id=coupon_store.coupon_id
        and coupon_store.store_id=store.store_id
        and coupon_user.user_id=#{userId}
        and end_time &lt; NOW() and coupon_store.state=1
    </select>

    <select id="selectCartByUidIid" resultType="com.yc.eshop.common.entity.Cart">
        select * from cart where user_id=#{param1} and item_id=#{param2}
    </select>

    <delete id="delEndCoupon" parameterType="integer">
        delete from coupon_user where coupon_own_id=#{couponOwnId}
    </delete>










</mapper>